.picker_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: absolute;
	right: 100%;
	width: 20em;
	max-width: 100vw;
	z-index: 1;
	background: var(--mainColor);
	box-shadow: 0 0 10px 1px var(--translucent);
}

.picker_wrapper :focus {
	border: 1px solid var(--accent);
}

.info {
	width: 100%;
	line-height: 2em;
}

.save:before {
	content: "Right-click";
	display: inline-block;
}

@media only screen and (pointer: coarse) {
	.save:before {
		content: "Hold";
	}
}

.picker_main > * {
	margin: 0.5em 0.5em 0.5em 0;
}

.picker_palette {
	display: flex;
	margin: 0.5em;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.palette_icon {
	width: 75%;
	padding-bottom: 75%;
	border: 1px solid var(--softColor);
}

.picker_main {
	flex: 8;
}

.picker_hue {
	position: relative;
	padding: 0.5em;
	background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(yellow), color-stop(lime), color-stop(cyan), color-stop(blue), color-stop(magenta), to(red));
	background-image: -webkit-linear-gradient(left, red, yellow, lime, cyan, blue, magenta, red);
	background-image: linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
}

.picker_hue .picker_selector {
	border-radius: 0.3em;
}

.picker_sl {
	position: relative;
	background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(100%, rgba(0,0,0,0))),-webkit-gradient(linear, left top, right top, from(white), to(rgba(128,128,128,0)));
	background-image: -webkit-linear-gradient(bottom, black, rgba(0,0,0,0)),-webkit-linear-gradient(left, white, rgba(128,128,128,0));
	background-image: linear-gradient(0deg, black, rgba(0,0,0,0)),linear-gradient(90deg, white, rgba(128,128,128,0));
}

.picker_sl::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.picker_bottom {
	width: 100%;
	padding: 0 0.5em 0.5em 0.5em;
}

.picker_done {
	width: 35%;
	line-height: 1.5em;
	background: var(--softColor);
	border: 1px solid var(--softLight);
	box-sizing: border-box;
	float: right;
}

.picker_editor {
	width: 60%;
	padding: 0 0.5em;
	line-height: 1.5em;
	background: var(--softColor);
	border: 1px solid var(--softLight);
	box-sizing: border-box;
	float: left;
}

.picker_selector {
	position: absolute;
	padding: 0.5em;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
}
