.hidden {
	display: none;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background: #E5E5E5;
}

#parts-list {
	position: absolute;
	z-index: 1;
	left: 0;
	height: 100%;
	width: 3em;
	background: #222;
	color: white;
}

.image-column {
	width: auto;
	height: 80%;
	padding-top: 5%;
	background: #606060;
	text-align: center;
}

.title {
	position: relative;
	margin: 0;
	width: 9em;
	background: #222;
	line-height: 2em;
	text-align: center;
}

.armor-label {
	display: block;
	position: relative;
	width: 10em;
	height: 2em;
	left: -8em;
	padding: 0.5em;
	background: #222;
	color: white;
	line-height: 2em;
	transition: left 0.2s ease-out;
}

.armor-label:after {
	content: "";
	background: white;
	border-radius: 50%;
	height: 1em;
	width: 1em;
	float: right;
	margin: 0.5em;
}

.armor-label:hover {
	left: 0;
}

:checked + .armor-label {
	color: black;
	background: #C4C4C4;
}

svg {
	height: 100%;
	position: relative;
	z-index: 1;
}

.floor {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10em;
	background: #3A3A3A;
}

p {
	margin: auto;
}

.options-column {
	float: right;
	width: 3em;
	height: 100%;
	background: #222;
	text-align: center;
}

#options-toggle {
	width: 3em;
	height: 3em;
	border: none;
	background-color: white;
	background-size: contain;
	background-image: url("options.png");
}

#selection {
	display: none;
	margin: 14px 0;
	padding: 14px 0;
	border-bottom: black solid 1px;
}

.option-list {
	display: none;
}

.selected {
	display: unset;
}

.color-picker {
	border: none;
	padding: 0;
	height: 2em;
	width: 2em;
}

.color-label {
	display: none;
}

.options-expanded {
	width: 20em;
	text-align: unset;
}

.options-expanded #options-toggle {
	background-color: #F8E71C;
}

.options-expanded #selection,
.options-expanded .color-picker {
	display: unset;
}

.options-expanded .color-label {
	display: inline-block;
	padding: 0.5em;
	width: 7em;
}
