.hidden {
	display: none;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

#parts-list {
	position: absolute;
	z-index: 1;
	left: 0;
	height: 100%;
	width: 3em;
	background: #222;
	color: white;
}

.title {
	display: block;
	height: 4em;
	background: #606060;
}

#parts-list input {
	display: none;
}

.armor-label {
	display: block;
	position: relative;
	width: 10em;
	left: -8em;
	padding: 0.5em;
	background: #222;
	line-height: 2em;
	transition: left 0.2s ease-out;
}

.armor-label:after {
	content: "";
	background: white;
	border-radius: 50%;
	height: 1em;
	width: 1em;
	float: right;
	margin: 0.5em;
}

.armor-label:hover {
	left: 0;
}

:checked + .armor-label {
	color: black;
	background: #C4C4C4;
}

.image-column {
	height: 100%;
	margin-left: 3em;
	background: #606060;
	text-align: center;
}

svg {
	height: 80%;
	padding-top: 4em;
}

.settings {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 -3em;
}

main button {
	height: 2em;
	min-width: 2em;
	margin: 0 0.5em 1em 0;
	background: white;
	border: #C4C4C4 solid 1px;
	border-radius: 0.5em;
}

.options-column {
	float: right;
	width: 3em;
	height: 100%;
	background: #222;
	color: white;
	text-align: center;
}

#options-toggle {
	width: 3em;
	height: 3em;
	border: none;
	background-color: white;
	background-size: contain;
	background-image: url("assets/options.png");
}

#selection {
	display: none;
	padding: 1.25em;
}

.option-name {
	display: none;
	margin: 0;
	padding: 0.5em 1.25em;
	background: #484848;
	line-height: 1.5em;
}

.option-list {
	display: none;
}

.selected {
	display: block;
}

.color-picker {
	height: 2em;
	width: 2em;
	margin: 0.25em 0;
	padding: 0;
	border: 1px solid white;
}

.color-label {
	display: none;
	margin-left: 3.5em;
	margin-top: 0.5em;
	line-height: 1em;
}

.options-expanded {
	width: 26em;
	text-align: unset;
	font-size: 0.7em;
}

.options-expanded #options-toggle {
	background-color: #F8E71C;
}

.options-expanded .option-name,
.options-expanded #selection,
.options-expanded .color-label {
	display: block;
}

.options-expanded .color-list {
	padding: 1.25em 0;
	margin: 0 1.5em;
}

.options-expanded .color-wrapper {
	display: inline-block;
	width: 33%;
	height: 3em;
	overflow-y: hidden;
	padding-bottom: 0.75em;
}

.options-expanded .color-picker {
	float: left;
}
