@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
	     url('fonts/icomoon.ttf') format('truetype'),
	     url('fonts/icomoon.woff') format('woff'),
	     url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-display: swap;
	font-family: 'Raleway';
	src:	local("Raleway"),
		url('fonts/Raleway.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

html, body {
	height: 100%;
	overflow: hidden;
}

.dark_mode {
	--mainColor: #222;
	--softColor: #555;
	--softLight: #AAA;
	--highlight: #DDD;
	--mainFont: white;
	--accent: #AB1F1F;
	--translucent: rgb(0,0,0,50%);
}

.light_mode {
	--mainColor: #DDD;
	--softColor: #AAA;
	--softLight: #555;
	--highlight: #222;
	--mainFont: black;
	--accent: #AB1F1F;
	--translucent: rgb(128,128,128,50%);
}

.male .female {
	display: none;
}

.female .male {
	display: none;
}

body {
	margin: 0;
	color: var(--mainFont);
	font-family: 'icomoon', 'Raleway', Verdana, sans-serif;
}

label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input {
	color: inherit;
	font: inherit;
	padding: 0;
}

button {
	color: inherit;
	font: inherit;
	padding: 0;
	cursor: pointer;
}

summary {
	cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	left: 0;
	height: 100%;
	width: 3em;
	z-index: 1;
}

.title {
	display: block;
	width: 25em;
	max-width: 75vw;
}

#left_nav {
	position: relative;
	height: 100%;
	background: var(--mainColor);
}

.summary_icon {
	display: inline-block;
	height: 2.5em;
	width: 100%;
	line-height: 2.5em;
	text-align: center;
	font-size: larger;
	cursor: pointer;
}

:hover + .sub_nav {
	left: 0;
}

.sub_nav {
	height: 3em;
	width: 15em;
	padding-left: 100%;
	left: -18em;
	position: absolute;
	transition: left 0.2s ease-out;
	display: inline-block;
	z-index: -1;
}

.sub_nav:hover {
	left: 0;
}

.nav_label {
	display: block;
	position: relative;
	height: 3em;
	background: var(--mainColor);
	color: inherit;
	line-height: 3em;
	text-decoration: none;
	cursor: pointer;
}

.nav_icon {
	font-size: larger;
	width: 2em;
	display: inline-block;
	text-align: center;
}

:checked + .nav_label {
	color: var(--mainColor);
	background: var(--highlight);
}

.toggle_sex {
	position: absolute;
	opacity: 0;
}

.label_sex {
	display: inline-block;
	width: 50%;
	background: var(--softColor);
	color: var(--highlight);
	line-height: 2.5em;
	text-align: center;
}

#reset_wrapper {
	border: none;
	width: 100%;
	text-align: left;
}

#rickroll {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 50%;
	max-width: 100%;
	z-index: 1;
}

form {
	position: fixed;
	padding: 1em;
	min-width: 20em;
	max-height: 100%;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%,-50%);
	background: var(--mainColor);
	box-shadow: grey 0 0 5px;
	color: var(--softLight);
	overflow-y: auto;
}

#reload {
	text-align: center;
}

legend {
	width: 100%;
	font-size: x-large;
	color: var(--highlight);
}

.close {
	height: 2em;
	width: 2em;
	float: right;
	background: none;
	border: none;
	font-size: medium;
}

.credits {
	position: relative;
	padding-top: 0.5em;
	font-size: smaller;
}

.credit {
	margin: 0.5em 0;
}

.credit_link {
	color: var(--accent);
	text-decoration: none;
}

.socials {
	position: absolute;
	width: 3em;
	right: 0;
	top: 0;
	font-size: x-large;
	text-align: center;
}

.social {
	display: inline-block;
	padding: 0.25em 0;
	text-decoration: none;
	color: var(--accent);
}

.changelog {
	padding: 1em 0;
	margin: 1em 0;
	border: 1px solid var(--softColor);
	border-style: solid none;
}

.version_info {
	margin-top: 1em;
	font-size: larger;
}

fieldset {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-between;
	border: none;
}

fieldset input,
textarea {
	margin: 1em 0;
	background: none;
	border: 1px var(--accent);
	border-bottom-style: solid;
}

.narrow_input {
	width: 48%;
}

.wide_input,
textarea {
	width: 100%;
	resize: vertical;
	color: inherit;
}

.submit {
	margin: 2em auto 0 auto;
	padding: 1em 2em;
	border: none;
	background: var(--accent);
	border-radius: 0.5em;
	color: white;
}

.image_column::-webkit-scrollbar {
	display: none;
}

.image_column {
	height: 100%;
	padding: 3em;
	overflow: auto;
	text-align: center;
	box-sizing: border-box;
	background: var(--softColor) no-repeat center;
	background-size: cover;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.option {
	display: none;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 0 3em;
	box-sizing: border-box;
	text-align: center;
}

.zoom_wrapper {
	height: 3em;
	padding: 0.75em;
	margin-top: 0.5em;
	box-sizing: border-box;
	background: var(--translucent);
	user-select: none;
}

.zoom_icon {
	vertical-align: sub;
	padding: 0 0.5em;
	cursor: pointer;
}

#zoom {
	width: 15em;
	max-width: calc(100% - 5em);
	margin: 0;
	background: none;
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
}
#zoom::-webkit-slider-runnable-track {
	height: 0.5em;
	width: 100%;
	background: var(--mainColor);
	border: 1px solid var(--softLight);
	cursor: pointer;
}
#zoom::-webkit-slider-thumb {
	margin-top: -0.25em;
	width: 1em;
	height: 1em;
	background: var(--highlight);
	border: none;
	border-radius: 0;
	cursor: pointer;
	-webkit-appearance: none;
}
#zoom:focus::-webkit-slider-thumb {
	border-color: var(--accent);
}
#zoom::-moz-range-track {
	height: 0.5em;
	width: 100%;
	background: var(--mainColor);
	border: 1px solid var(--softLight);
	cursor: pointer;
}
#zoom::-moz-range-thumb {
	height: 1em;
	width: 1em;
	background: var(--highlight);
	border: none;
	border-radius: 0;
	cursor: pointer;
}
#zoom:focus::-moz-range-thumb {
	border-color: var(--accent);
}
#zoom::-ms-track {
	height: 0.5em;
	width: 100%;
	background: var(--mainColor);
	border: 1px solid var(--softLight);
	cursor: pointer;
}
#zoom::-ms-thumb {
	height: 1em;
	width: 1em;
	background: var(--highlight);
	border: none;
	border-radius: 0;
	cursor: pointer;
	margin-top: 0px;
}
#zoom:focus::-ms-thumb {
	border-color: var(--accent);
}

.undo_redo {
	background: var(--mainColor);
	border: 1px solid var(--softLight);
	width: 2em;
	height: 2em;
	border-radius: 12%;
}

.undo_redo:focus {
	border-color: var(--accent);
}

:checked + .label_sex {
	background: var(--accent);
}

.settings_column {
	position: fixed;
	height: 100%;
	width: 20em;
	max-width: 100%;
	right: 0;
	z-index: 1;
	background: var(--mainColor);
}

#settings_toggle {
	position: absolute;
	right: 0;
	border: none;
	width: 3em;
	height: 3em;
	background: none;
	color: var(--accent);
}

.armor_types {
	padding-top: 0.5em;
	overflow-y: auto;
	resize: vertical;
	height: 20em;
}

.sponsor_title {
	color: var(--softLight);
	padding: 0 0 0.5em 3%;
	font-size: larger;
}

.slide_title {
	font-size: large;
	padding-left: 1em;
}

.option_name {
	margin: 0;
	padding: 0.5em 1.25em;
	background: var(--softColor);
	line-height: 1.5em;
}

.mirror_button {
	height: 1.5em;
	width: 1.5em;
	float: right;
	background: var(--accent);
	border: none;
	color: white;
}

.folder {
	display: none;
	flex-direction: column;
	height: 100%;
	font-size: small;
}

.folder_head {
	display: none;
}

.type_button {
	width: 30%;
	margin-left: 3%;
	margin-bottom: 1em;
	background: none;
	border: none;
}

.current_variant {
	color: var(--accent);
}

.preview_icon {
	border: 1px currentColor solid;
	fill: white;
	stroke: black;
	stroke-width: 3px;
}

.slide_toggle {
	height: 3em;
	width: 100%;
	padding-left: 0.5em;
	text-align: left;
	background: none;
	font-size: larger;
	border: 1px var(--softColor);
	border-style: none none solid none;
}

.slide_toggle:before {
	content: "\e90b";
	float: left;
	color: var(--accent);
	font-size: x-large;
	line-height: 1.25em;
	padding-right: 0.25em;
}

.overview .slide_toggle:after {
	content: "\e90c";
	float: right;
	color: var(--accent);
	font-size: x-large;
}

.overview .slide_toggle:before {
	display: none;
}

.toggle_text {
	display: inline-block;
	font-size: large;
}

.parent_title {
	font-size: small;
	color: var(--softLight);
}

.overview .parent_title {
	display: none;
}

.folder_content {
	overflow-y: auto;
	flex-grow: 1;
}

.slide {
	display: none;
}

.overview .folder_head {
	display: block;
}

.overview .slide {
	display: block;
}

.slide_content {
	padding-bottom: 1em;
	border-bottom: 1px solid var(--softColor);
}

.overview .slide_content {
	display: none;
}

.color_wrapper {
	display: inline-block;
	padding: 1em 0 0 1em;
	min-width: 6.5em;
}

.synchronized .color_wrapper {
	display: none;
}

.color_picker {
	height: 2em;
	width: 2em;
	float: left;
	border: 1px solid var(--softColor);
}

.color_picker:focus {
	border-color: var(--accent);
}

.color_label {
	display: inline-block;
	margin-left: 0.5em;
	line-height: 1em;
}

.name {
	color: var(--softLight);
	font-size: smaller;
}

.detail {
	font-size: smaller;
	font-family: Arial, sans-serif;
}

.checkbox_list {
	padding: 0.5em 1em;
}

.checkbox_wrapper {
	display: inline-block;
	padding: 0.5em 0.5em 0 0;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.checkbox_label {
	padding: 0.25em;
	font-size: 1.33em;
	border: 1px solid currentColor;
	color: var(--highlight);
}

:checked ~ .checkbox_label {
	color: var(--accent);
}

.separator {
	height: 0px;
	margin-top: 1em;
	border-top: 1px solid var(--softColor);
}

.pseudo_checkbox {
	display: block;
	padding: 1em 1em 0 1em;
}

.pseudo_label {
	vertical-align: super;
	color: var(--highlight);
}

.armor_toggle {
	opacity: 0;
	position: absolute;
}

.slider {
	height: 1.5em;
	width: 3em;
	float: right;
	margin-left: 1em;
	background: var(--highlight);
	border-radius: 0.75em;
}

.slider:before {
	content: "";
	display: block;
	position: relative;
	height: 100%;
	width: 50%;
	left: 0;
	border: 2px solid var(--highlight);
	border-radius: 50%;
	background: var(--softColor);
	box-sizing: border-box;
	transition: left ease-out .1s;
}

:focus + :before {
	background: var(--accent);
}

:checked + :before {
	left: 50%;
}

.select_wrapper {
	display: block;
	position: relative;
	margin: 1em 1em 0 1em;
}

.select_wrapper::after {
	content: "\E90A";
	position: absolute;
	right: 0;
	pointer-events: none;
	font-size: larger;
}

.component_select {
	width: 100%;
	color: inherit;
	background: var(--mainColor);
	border: 1px var(--accent);
	border-style: none none solid none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.close_sponsors {
	height: 2em;
	width: 2em;
	margin: 1em;
	position: absolute;
	right: 0;
	top: -2em;
	background: var(--mainColor);
	border: 1px solid var(--accent);
	border-radius: 25%;
	text-align: center;
}

.settings_collapsed {
	width: 3em;
	text-align: center;
}

.settings_collapsed #settings_toggle {
	position: relative;
	color: unset;
}

.settings_collapsed .slide_content {
	padding-bottom: 0.25em;
	margin-bottom: 0.5em;
}

.settings_collapsed .separator {
	margin: 0.5em 0;
}

.settings_collapsed .color_wrapper {
	padding: 0.25em 0;
	min-width: 0;
}

.settings_collapsed .slider {
	display: inline-block;
	float: none;
}

.settings_collapsed .sync {
	padding: 0.5em 0 1em 0;
}

.settings_collapsed .hidden {
	display: none;
}

.selected {
	display: block;
}

.folder.selected {
	display: flex;
}
